:root {
  /* fonts */
  --primary-font: 'Trebuchet MS', 'sans-serif';
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;

  /* colors */
  --primary: #0f9999;
  --light: #EEEEEE;
  --darkest: #212121;
}