.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 600px));
  justify-content: center;
  gap: 4em 3em;
  max-width: 1400px;

  .ball {
    position: absolute;
    z-index: 4;
    width: 9%;
    right: 100px;
    top: -40px;
    animation: ball 3s infinite ease;

    .cls-2 {
      fill: #38454f;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
      transform: rotate(360deg);
    }

    .cls-3 {
      fill: #6c68d2;
      
    }
  }

  .huesito {
    position: absolute;
    z-index: 4;
    width: 22%;
    left: 38px;
    top: 170px;

    .cls-1{
      height: 100px;
      fill:#fefefe;
      stroke-width: 3px;
      /* stroke: #6a181873; */
      stroke-miterlimit:10;

    }
    
    path {
      stroke-dasharray: 60 172;
      stroke-linecap: round;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }

  }
  
  
  .over-content{
    position: relative;
    display: grid;
    height: 100%;
    
    .image-content {
      position: absolute;
      height: 11em;
      width: 11em;
      border-radius: 1em;
      overflow: hidden;
      display: flex;
      left: 15px;
      top: 20px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: #fff .35em solid;
      box-shadow: 6px 6px 0px #73738f81;
      animation: ball 3s infinite ease;
      z-index: 2;

      img {
        height: 9em;
      }
    }
  }

  .blob {
    position:absolute;
    width: 13em;
    height: 11em;
    display: flex;
    left: 0;
    top: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    
  }
  
  .one {
    
    background: #8585FF;
    animation: blob_1 3.3s infinite ease-in-out;
  }

  .two {
    top: 35px;
    animation: blob_1 5.3s infinite ease-in-out;
    background: #5BE2E9
  }
 

    .card {
      position: relative;
      padding: 3em;
      overflow: hidden;
      background-color: #DFE6F6;
      box-shadow:  6px 6px 0px #A8B5F6,
             -6px -6px 0px #fff;
      border-radius: 1em;
      min-width: 3em;
      height: 15em;
      margin-left: 4em;

      .circle {
        position: absolute;
        border-radius: 50%
      }

      .c-one {
        background: #5be2e9;
        top: -30px;
        right: -40px;
        height: 10em;
        width: 10em;
      }

      .c-two {
        background: #8585FF;
        top: 130px;
        right: 90px;
        height: 5em;
        width: 5em;
      }

      .c-three {
        background: #8585FF;
        bottom: -60px;
        left: 90px;
        height: 10em;
        width: 10em;
      }

      .c-four {
        background: #5be2e9;
        top: -12px;
        left: 230px;
        height: 3em;
        width: 3em;
      }
    }

  .text {
    position: absolute;
    left: 13em;
    top: 2em;
    z-index: 2;
    max-width: 20em;
    text-align: center;

    h1 {
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
      font-size: 25px;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      margin-bottom: 5em;
      
      &.elegantshadow {
        color: #131313;
        letter-spacing: .15em;
        text-shadow: 
          1px -1px 0 #686c87, 
          -1px 2px 1px #7b82a9, 
          -2px 4px 1px #7f85a5, 
          -3px 6px 1px #a8b5f6, 
      }
    }
  }
}

@keyframes zoom-in {
  0% {transform: scale(1);}
  50% {transform: scale(1.15)}
  100% {transform: scale(1);}
}


@keyframes blob_1 {
  0% {
    border-radius: 62% 38% 57% 43% / 36% 26% 74% 64% ;
  }
  50% {
    border-radius: 57% 43% 36% 64% / 65% 75% 25% 35% ; 
  }
  100% {
    border-radius: 62% 38% 57% 43% / 36% 26% 74% 64% ;
  }
}

@keyframes ball {
  0% {
    transform:scale(1);

  } 50% {
    transform:scale(1.1)
  }
}

