.cards-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 320px));
  justify-content: center;
  align-items: center;
  /* justify-items: center; */
  gap: 4em 4.5em;
  max-width: 1400px;

  .ball {
    position: absolute;
    z-index: 4;
    width: 9%;
    right: 100px;
    top: -40px;
    animation: ball 3s infinite ease;

    .cls-2 {
      fill: #38454f;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
      transform: rotate(360deg);
    }

    .cls-3 {
      fill: #6c68d2;
      
    }
  }

  .huesito {
    position: absolute;
    z-index: 4;
    width: 40%;
    left: -12px;
    top: 4%;
    transform: rotate(-45deg) ;

    .cls-1{
      height: 100px;
      fill:#fefefe;
      stroke-width: 3px;
      /* stroke: #6a181873; */
      stroke-miterlimit:10;

    }
    
    path {
      stroke-dasharray: 60 172;
      stroke-linecap: round;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }

  }
 
  .over-content {
    position: relative;
    display: grid;
    grid-template-rows: 1.2fr 2fr;
    min-width: 2em;
    height: 460px;
    border-radius: 1.5em;
    color: #9da5c3;
    box-shadow: 0px 15px 35px -5px rgba(50, 87, 130, 0.517);
    overflow: hidden;

    &::before {
      position: absolute;
      transition: all 5s ease;
      position: absolute;
      top: 15%;
      left: 0;
      right: 0;
      bottom: 40%;
      opacity: 0;
      content: '';
      background: #0f9999;
      z-index: 2;

    }

    &:hover::before {
      transition: all 0.5s ease;
      top: 20%;
      bottom: 50%;
      opacity: 1;
      z-index: 3;
    }
    
    .up-side {
      background: #a1b8c8;
      border-radius: 1.5em 1.5em 0 0;
      overflow: hidden;

      img {
        width: 250%;
        transform: translateX(-80px);
        filter: blur(3px);
      }
    }

    .down-side {
      border-radius: 0 0 1.5em 1.5em;
      text-align: center;
      padding: 0 .5em 1em .5em;
      background-size: 25px 25px;
      background-image: radial-gradient(#4d5a64 7.2%, var(--darkest) 0);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
      font-weight: 500;
      font-size: 1.1rem;

      h1 {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        line-height: 1.2em;
        margin-top: 4.8em;
        
        &.elegantshadow {
          color: #a1b8c8;
          letter-spacing: .15em;
        }
      }

      p {
        margin-top: .5em;
      }

      h3 {
        margin-top: .5em;
      }
    }

    .like {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4.5em;
      width: 4.5em;
      background: #0f9999;
      border-radius: 100% 0 0 0;
      bottom: 0;
      right: 0;
      z-index: 6;
      transition: all 1s ease;

      img {
        height: 2em;
        margin: 0.5em 0 0 0.5em;
        transition: all 1s ease;
        
      }

      &:hover {
        height: 6em;
        width: 6em;

       img {
        height: 4em;
        margin: 1em 0 0 1em;
       }
      }
    }

    .image-content {
      position: absolute;
      height: 15em;
      width: 15em;
      overflow: hidden;
      display: flex;
      left: 12%;
      top: 9%;
      justify-content: center;
      align-items: center;
      border-radius: 1em;
      border: rgba(255, 255, 255, 0.418) .35em solid;
      animation: ball 3s infinite ease;
      z-index: 3;

      .img-front {
        height: 15em;
        position: absolute;
        z-index: 4;
      }
    }
  }

    .card {
      position: relative;
      padding: 3em;
      overflow: hidden;
      background-color: #DFE6F6;
      box-shadow:  6px 6px 0px #A8B5F6,
             -6px -6px 0px #fff;
      border-radius: 1em;
      min-width: 3em;
      height: 15em;
      margin-left: 4em;

      .circle {
        position: absolute;
        border-radius: 50%
      }

      .c-one {
        background: #5be2e9;
        top: -30px;
        right: -40px;
        height: 10em;
        width: 10em;
      }

      .c-two {
        background: #8585FF;
        top: 130px;
        right: 90px;
        height: 5em;
        width: 5em;
      }

      .c-three {
        background: #8585FF;
        bottom: -60px;
        left: 90px;
        height: 10em;
        width: 10em;
      }

      .c-four {
        background: #5be2e9;
        top: -12px;
        left: 230px;
        height: 3em;
        width: 3em;
      }
    }

  // .text {
  //   /* position: absolute;
  //   left: 13em;
  //   top: 2em;
  //   z-index: 2;
  //   max-width: 20em; */
  //   text-align: center;

  //   h1 {
  //     font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  //     font-size: 25px;
  //     text-transform: uppercase;
  //     text-rendering: optimizeLegibility;
  //     margin-bottom: 1.5em;
      
  //     &.elegantshadow {
  //       color: #131313;
  //       letter-spacing: .15em;
  //       text-shadow: 
  //         1px -1px 0 #686c87, 
  //         -1px 2px 1px #7b82a9, 
  //         -2px 4px 1px #7f85a5, 
  //         -3px 6px 1px #a8b5f6, 
  //     }
  //   }
  // }
}

@keyframes zoom-in {
  0% {transform: scale(1);}
  50% {transform: scale(1.15)}
  100% {transform: scale(1);}
}


@keyframes blob_1 {
  0% {
    border-radius: 62% 38% 57% 43% / 36% 26% 74% 64% ;
  }
  50% {
    border-radius: 57% 43% 36% 64% / 65% 75% 25% 35% ; 
  }
  100% {
    border-radius: 62% 38% 57% 43% / 36% 26% 74% 64% ;
  }
}

@keyframes ball {
  0% {
    transform:scale(1);

  } 50% {
    transform:scale(1.05)
  }
}

