
.accordion{ 
  display: block;
  text-align: left;
  width: 100%; 
  
  &:hover{
  
    // max-height technique
    .accordion-content{
      // If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and we can use "max-height" with a great value for emulate this effect.
      max-height: 450px;
			overflow: auto;

			.included {
				margin-left: 1em;
				padding-right: 1em;

				&:hover {
					background:#ffffff;
					transition: all 0.5s ease
				}
			}

    }
  
  }
}

.accordion-content{
  -webkit-transition: max-height 1s; 
  -moz-transition: max-height 1s; 
  -ms-transition: max-height 1s; 
  -o-transition: max-height 1s; 
  transition: max-height 1s;  
  background: #e5feff;
  overflow: hidden;
  // "height: 0" not work with css transitions
  max-height: 0;
}

.accordion-inner{
  padding: 0 15px;

	
}

.accordion-toggle{
  -webkit-transition: background .1s linear;   
  -moz-transition: background .1s linear;   
  -ms-transition: background .1s linear;   
  -o-transition: background .1s linear;   
  transition: background .1s linear;   
  background: #ffffff;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 30px;
  margin: 0 0 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  
  &:hover{
    background: darken(#ffffff, 15%);
  }
  
}

.holi {
	h1 {
		font-size: 90px;
		margin: 0;
		line-height: 1.1em;
	}
	position: relative;
	--maskX: 0;
	--maskY: 50;
}

.titleWrapper {
	color: #7e2a2a;
	cursor: pointer;
}

.cloneWrapper {
	position: absolute;
	top: 0;
	left: 0;
	color: #631717;
	clip-path: polygon(0 0, calc(var(--maskX) * 1%) 0, calc(var(--maskY) * 1%) 100%, 0 100%);
}

/* .melt-enter-active { 
	position: absolute;
} */
.wer { 
	position: absolute;
	height: 300px;
	width: 300px;
	background-color: rgb(34, 115, 128);
	animation: melt-leave 3s ease-in-out ;
}

/* @keyframes melt-enter {
  0% {
    clip-path: polygon(0% 100%, 100% 100%, 99.9% 100%, 100% 100%, 0% 100%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 100%, 100% 100%, 99.9% 100%, 100% 100%, 100% 0%, 0% 0%);
	}
} */

@keyframes melt-leave {
  0% {
    clip-path: path('M468.5,319Q440,388,379,423.5Q318,459,260.5,427Q203,395,134.5,389.5Q66,384,46,317Q26,250,51,187Q76,124,131.5,89.5Q187,55,252.5,47.5Q318,40,370,82.5Q422,125,459.5,187.5Q497,250,468.5,319Z');
  }
  100% {
    clip-path: path('M468,311.5Q441,373,388,405Q335,437,285,395Q235,353,171.5,383.5Q108,414,78,361.5Q48,309,54,251.5Q60,194,95,153Q130,112,175.5,78.5Q221,45,276,59Q331,73,340.5,129Q350,185,422.5,217.5Q495,250,468,311.5Z');
		color: #08666a;
  }
}