@use '../HomeView/SearchBar.scss';

$number-size : 4vmin;

$lighter : #f9fbfd;
$light : #dfe6f6;
$bg : #C4D2EF;
$dark : #a9bee8;
$primary : #3e6ccb;
$neo-thickness : number-size/4;


.search-bar {
  grid-area: search-bar;
}

.b {
  grid-area: b;
}

.main-content {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* grid-area: main; */
  gap: 0 2em;
  max-width: 1600px;
  margin: auto;
  min-height: 71vh;
}
.pagination {
  grid-area: pagination;
}


@keyframes page-transition {
  from {
    top: 0;
    display: none;
  }
  to {
    top: 100%;
    display: flex;
  }
}

