.pagination {
  display: grid;
  /* grid-template-columns: minmax(500, 1.5fr); */
  grid-template-areas:
    'p-container'
  ;
  justify-content: center;
  height: 50px;
  padding: 2em;
  margin-bottom: 2em;
}

.p-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-area: p-container;
  max-width: 1000px;

  /* .btn-p {
    background-color: #0905ff;
  } */

  .btn {
    background-color: #000000;
    border: solid 1px #fffd;
    padding: 15px 0 15px 0;
    margin: 0 5px 0 5px;
    color : #fff;
    font-size : 15px;
    font-weight: bold;
    cursor: pointer;
    width: 50px;
    border-radius: 5px;
  }

.btn:hover {
  color : #0f9999;
}


.active {
  background-color: #0f9999;
  color: #000000;
}

.active:hover {
  color : #fff;
}

.disabled {
  color: #7e7e7e;
  border: solid 1px #7e7e7e;
  height: 50px;
}

.disabled:hover {
  color: #7e7e7e;
  cursor: default;
}

}

@media screen and (max-width: 500px) {
  .btn {
    width: 100%;
    margin: 0;
    border-radius: 0%;
  }
}