.multiselect {
  width: 300px;
}

.selectBox {
  cursor: pointer;
  

  section {
    width: 22em;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    animation: rotacion 
  }
}

/* .overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
} */

.hide {
  display: none;
}

.show {
  position:absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.5em;
  width: 22em;
  overflow: auto;
  max-height: 20em;
  animation: rotacion 1.5s ease;
  background-color: #fff;

  label {
    display: flex;
    align-items: center;
  }

  label:hover {
    background-color: #1e90ff;
  }
  
}

@keyframes rotacion {
  from {height: 0}
  to {height: 100%;}
}

@keyframes alo {
  from {height: 100%;}
  to {height: 0;}
}




