.landing-page {
	position: relative;
	display: grid;
	grid-template-columns: 1.2fr 1fr;
	position: absolute;
	z-index: 5;
	width: 100%;
	/* left:0px;
	top: 0;
	right: 0; */
	height: 100vh;
	overflow: hidden;
	background-color: #DFE6F6;

	section {
		position: relative;
		display: flex;
		justify-content: center;
		/* overflow: hidden; */
		img {
			mask: url(https://assets.codepen.io/1101822/circles-mask-whole.svg) no-repeat
				center;
			position: absolute;
			right: -23em;
			max-height: 105%;
			max-width: 220%;
			display: block;
			// transform: translate(120px);
			// /* object-fit:contain; */
			// transition: transform 2s forward;
			animation: move 2s ease;
		}
	}

// .grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(min(100%, 40ch), 1fr));
//   /* gap: 5vmax; */
//   /* width: min(80ch, 100%); */
//   margin-inline: auto;
// 	align-items: center;

	.text-landing {
		/* position: absolute; */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		/* right: 55em;
		top: 11em; */
		/* width: 60em; */

		h3 {
			font-family: var(--font-poppins);
			color:#4b4e61;
			letter-spacing: .15em;
			font-weight: 520;
			animation: opac 3s ease-in;
		}

		button {
			margin: 65px 0 0px 0;
			animation: grown 3s ease;
		}

		.custom-btn {
			width: 160px;
			height: 45px;
			color: #4b4e61;
			border-radius: 5px;
			padding: 10px 10px;
			font-family: var(--font-poppins);
			font-size: 1.1em;
			font-weight: 550;
			letter-spacing: .15em;
			background: transparent;
			cursor: pointer;
			transition: all 0.3s ease;
			position: relative;
			display: inline-block;
			box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
			 7px 7px 20px 0px rgba(0, 0, 0, 0.274),
			 4px 4px 5px 0px rgba(0, 0, 0, 0.18);
			outline: none;
		}
	}
			h1 {
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
      font-size: 10em;
      text-transform: uppercase;
      /* text-rendering: optimizeLegibility; */
      /* margin-bottom: 5em; */
			/* margin: auto; */
			/* text-align: center; */
			margin-left: 14px;
			animation: up 2s ease-in;
      
      &.elegantshadow {
        color: #131313;
        letter-spacing: .15em;
        text-shadow: 
          1px -1px 0 #686c87, 
          -1px 3px 1px #7b82a9, 
          -2px 6px 1px #7f85a5, 
          -3px 8px 1px #a8b5f6, 
      }
    }

	}

	@keyframes move {
		0% {transform: translate(860px);}
		100% {transform: translate(0px);}
	}

	@keyframes up {
		0% {
			transform: translateY(160px);
			opacity: 0;
		}
		100% {
			transform: translateY(0px);
		}
	}

	@keyframes opac {
		0% {opacity: 0;}
		50% {opacity: 0;}
		100% {opacity: 1;}
	}

	@keyframes grown {
		0% {
			scale: 0;
			opacity: 0;
		}
		100% {
			scale: 1;
			opacity: 1;
		}
	}
